<article class="col">
  <div class="card shadow">
    <div class="card-body">
      <div class="text-start"><small class="fw-lighter">January 23, 2023</small></div>
      <h2 class="card-title">
        {{ArticleTitle}}
      </h2>
      <div class="text-end">by <a href="{{ProfileView}}" class="link-body-emphasis">{{ArticleAuthor}}</a></div>
      <ul class="d-flex justify-content-end list-unstyled my-1">
        <li class="fw-light ms-3">Category 1</li>
        <li class="fw-light ms-3">Category 2</li>
      </ul>
      <p class="card-text my-2">
        {{ArticleContent}}
      </p>
      <a href="{{DetailView}}" class="card-link text-body fw-bold">Continue reading...</a>
    </div>
  </div>
</article>
